
.panel{
  background-color: #FFFFFF;
  height: 500px;
}

.panel-heading{
    height: 45px;
    background: #25274D;
    align-items: center;
    color: #FFFFFF;
}

.panel-body{
  height: 100%;
  width: 100%;
  display: inline-block;
}

.navbar.down{
  padding-top: 25px;
}

.dropdown{
  font-size: 12px;
  align-items: center;
}
